html {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  color: white;
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h4 {
  font-size: 23px;
}

p {
    font-size: 14px;
}

.copyright {
  font-size: 11px;
  color: white;
}

.footer {
  background-color: dimgray;
  text-align: left;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
}

.pagenav {
  font-size: 18px;
  color: white;
}

.nydesign {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
